body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "KumbhSans-SemiBold";
  src: url(./assets/fonts/KumbhSans-SemiBold.ttf);
}

@font-face {
  font-family: "KumbhSans-Light";
  src: url(./assets/fonts/KumbhSans-Light.ttf); 
}

@font-face {
  font-family: "KumbhSans-Regular";
  src: url(./assets/fonts/KumbhSans-Regular.ttf);
}